/*
 25 July 2024
 Leaderboard Page - Play2Earn
 by Andreya Augst : andreyaaugst@gmail.com
 */

/* imported from the separate file to integrate, by mit prajapati (14-08-2024) */
/* import */
/*
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
{*/
/* header 
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: #ffffff;
  color: #687079;
  border-bottom: 1px solid #e8e5e5;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* logo text
.logo {
  font-size: 1.5rem;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
}

/* logo icon *
.logo-image {
  width: 24px;
  height: 24px;
  margin-left: 40px;
}

/* logo *
.logo span {
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 15px;
  color: #848181;
}
/* search bar *
.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
/* search bar 
.search-bar input {
  width: 70%;
  padding: 5px;
  border-radius: 4px;
  background-color: #f3f0f0;
  border: 1px solid #e8e5e5;
}

/* nav *
.nav-links a {
  color: rgb(12, 7, 104);
  text-decoration: none;
  margin: 0 10px;
  font-weight: 600;
  font-size: 1rem;
}

/* nav *
.nav-links a:hover {
  text-decoration: underline;
}

/* title: Leaderboard *
div.title {
  color: #606060;
  font-size: 14px;
  display: flex;
  margin-bottom: 10px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

/* "Earn more points...etc container" *
div.title2 {
  color: #606060;
  font-size: 17px;
  margin-bottom: 10px;
  padding: 0;
  width: 60%;
  justify-content: center;
  align-items: center;
}

/* all elements except title *
.main-flex-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
}

/* 2 images and text box *
div.flex-container {
  display: flex;
  flex-direction: row;
  max-width: 70%;
}

/* Leaderboard *
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: #ddd;
  border-bottom-style: solid;
  border-radius: 1px;
}

/* Earn more points...etc text *
h2 {
  position: relative;
  text-align: center;
  color: #848181;
  font-weight: 600;
  font-size: 18px;
}

/* 2 small images *
.image-container {
  padding: 0;
  width: 25%;
}

/* 2 small images *
.header-image {
  max-width: 50%;
  max-height: auto;
}

/* display position in leaderboard *
.you-earned {
  background-color: #d9efff;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
  max-width: 60%;
  margin: auto;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 4px 8px #848181;
}

h2.earned {
  color: #353434;
}

/* within "earned" box *
.profile-image {
  width: 40px;
  height: auto;
  padding-right: 5px;
}

/* "you earned" *
.earned {
  margin: 0;
  padding-right: 7px;
}

/* # of points earned *
.points {
  background-color: #1062fe;
  color: #ffffff;
  width: 100px;
  padding: 5px;
  border-radius: 10px;
}
/* leaderboard table *
.leaderboard {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

/* leaderboard table *
table {
  width: 100%;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
}

/* all text in table *
td,
th {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* column title container *
th {
  background-color: #f4f4f4;
}

/* rounded corners *
th:first-of-type {
  border-top-left-radius: 10px;
}

/* rounded corners *
th:last-of-type {
  border-top-right-radius: 10px;
}

/* left title container *
.th1 {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* middle title container *
.th2 {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* right title container *
.th3 {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* left column *
.td1 {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-right: 50px;
}

/* middle column *
.td2 {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-right: 400px;
}

/* right column *
.td3 {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-right: 100px;
}

tbody tr:hover {
  background-color: #e0f2fa;
}

/* pagination *
.pagination {
  display: flex;
  justify-content: center;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 5px;
  padding-top: 11px;
  margin-top: -6px;
}

/* pagination *
.pagination button {
  margin: 0 5px;
  padding: 8px 13px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

/* pagination *
.pagination button.active {
  background-color: #d9efff;
  color: #1062fe;
}

/* phones *
@media (max-width: 599px) {
  /* 2 images and text box *
  div.flex-container {
    flex-direction: row;
    margin: 0;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .image-container {
    width: 80%;
  }

  .you-earned {
    max-width: 100%;
    flex-direction: column;
  }

  h2 {
    font-size: 12px;
  }
}

/* tablets, etc *
@media (min-width: 600px) and (max-width: 899px) {
  /* 2 images and text box *
  div.flex-container {
    flex-direction: row;
    margin: 0;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .image-container {
    width: 80%;
  }

  .you-earned {
    max-width: 100%;
    flex-direction: column;
  }

  h2 {
    font-size: 12px;
  }
}

/* desktop *
@media (min-width: 900px) {
}
*/
