/* General Styling */
.title2 h2 {
  width: auto;
  font-size: 1.5rem;
  color: #333; /* Updated color for the heading */
  text-shadow: none; /* Removed shadow */
  text-align: center; /* Align properly */
  margin: 0 auto; /* Center alignment */
}

.circle-container h2.earned-title,
.circle-container h2.points-title {
  font-size: 1.0rem;
  margin: 5px 0;
  font-family: cursive;
  color: #444; /* Updated color for user area text */
  text-align: center; /* Ensure text is centered inside the container */
}

.leaderboard-title-container {
  background-color: none; /* Header matching color */
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  margin-bottom: 0px;
  width: 100%;
  max-width: 2600px;
}

.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
  margin: 0 auto;
  background: linear-gradient( #82aff7, #b9daff);
  border-radius: 50px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.title2 .circle-container {
  margin-top: 15px;
}

.main-content {
  margin: 0 !important;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #f5f5f5;
  background-size: cover, auto, auto;
  box-sizing: border-box;
}

.leaderboard-container {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px auto;
  background: linear-gradient(#82aff7, #b9daff); /* Gamified gradient */
  border-radius: 12px;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}
.leaderboard-title{
  top: 100px !important;
}


table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px; /* Adds gap between table cells */
}

th, td {
  padding: 10px;
  text-align: center; /* Rectangular shape */
  background-color: #f5f5f5; /* Slight shadow for effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

th {
  font-size: 1.2rem;
  color: #333;
}

td {
  font-size: 1rem;
  color: #444;
}

/* Pagination */
.pagination button {
  background-color: #fffffff8 !important; /* Light blue from your gradient */
  color: #000000 !important;
  font-size: 1.5rem;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

.pagination .active {
  background-color: #ffffff !important; /* Slightly darker color for the active button */
  font-weight: 300;
  font-size: 1.5rem;
  color: #000000;
}

.pagination button:hover {
  background-color: #ddf3fd !important; /* Lighter blue from your gradient for hover */
  color: #000000;
  cursor: pointer;
}

/* Flex Container for Images and Text */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  max-width: 1200px;
  align-items: center;
}

.image-container {
  flex: 0 1 auto;
  max-width: 150px; /* General max width for images */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Media Queries */

@media (max-width: 1024px) {
  .leaderboard-title-container {
    padding: 30px;
    width: auto;
    margin-bottom: 0px;
  }

  .leaderboard-title-container h1 {
    font-size: 2.0rem;
    margin-top: 40px;
    font-weight: 600;
  }
}

@media (max-width: 850px) {
  .leaderboard-title-container {
    padding: 40px;
    width: auto;
  }

  .leaderboard-title-container h1 {
    font-size: 2.0rem;
    margin-top: 60px;
    font-weight: 600;
  }

  .flex-container {
    gap: 10px;
    max-width: 90%;
  }

  .image-container {
    max-width: 120px;
  }
}

@media (max-width: 768px) {
  .leaderboard-title-container {
    padding: 5%;
    width: auto;
    margin-bottom: 0px;
  }
  .leaderboard-title {
    /* Disable transform on hover for smaller screens */
    font-weight: 600;
    font-size: 2.0em;
    margin-top: 220px;
    margin-bottom: 45px;
  }
  .leaderboard-container{
    margin-right: 40px;
  }
  .leaderboard-container th2{
    margin-right: 20px;
  }

  .circle-container {
    width: 250px;
    height: 125px;
  }

  .circle-container h2.earned-title,
  .circle-container h2.points-title {
    font-size: 1.0rem;
  }

  .profile-image {
    width: 50px;
    height: 50px;
  }

  .image-container {
    max-width: 120px;
  }

  .main-content {
    background-size: cover, 50%;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .leaderboard-title-container {
    padding: 5%;
    width: auto;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .leaderboard-title-container h1 {
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 120px;    margin-bottom: 45px;
  }
  .flex-container {
    gap: 10px;
  }

  .image-container {
    max-width: 100px;
  }

  .circle-container {
    width: 250px;
    height: 125px;
  }
}

@media (max-width: 480px) {
  .leaderboard-title-container {
    padding: 5%;
    width: auto;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .leaderboard-title-container h1 {
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 100px;
    margin-bottom: 45px;
  }
  .flex-container {
    gap: 10px;
  }

  .image-container {
    max-width: 80px;
  }
}

@media (max-width: 400px) {
  .leaderboard-title-container {
    padding: 5%;
    width: auto;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .leaderboard-title-container h1 {
    font-weight: 600;
    font-size: 1.0em;
    margin-top: 140px;
    margin-bottom: 45px;
  }
  .flex-container {
    gap: 10px;
  }
  .image-container {
    max-width: 60px;
  }
}

@media (max-width: 390px) {
  .leaderboard-title-container {
    padding: 5%;
    width: auto;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .leaderboard-title-container h1 {
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 105px;
    margin-bottom: 45px;
  }
  .flex-container {
    gap: 10px;
  }
  .image-container {
    max-width: 60px;
  }
}
@media (max-width: 375px) {
  .leaderboard-title-container {
    padding: 5%;
    width: auto;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .leaderboard-title-container h1 {
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 90px;
    margin-bottom: 45px;
  }
  .flex-container {
    gap: 10px;
  }
  .image-container {
    max-width: 60px;
  }
}

@media (max-width: 360px) {
  .leaderboard-title-container {
    padding: 5%;
    width: auto;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .leaderboard-title-container h1 {
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 140px;
    margin-bottom: 45px;
  }
  .flex-container {
    gap: 10px;
  }
  .image-container {
    max-width: 60px;
  }
}

@media (max-width: 320px) {
  .leaderboard-title-container {
    padding: 5%;
    width: auto;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .leaderboard-title-container h1 {
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 120px;
    margin-bottom: 45px;
  }
  .flex-container {
    gap: 10px;
  }
  .image-container {
    max-width: 60px;
  }
}
