/* src/ForgotPassword.css */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url("../../assets/background2.jpg") no-repeat center center fixed;
  background-size: cover;
}

.form-container {
  margin: 50px auto;
}

h2 {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 70px;
  font-optical-sizing: auto;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 100px;
}

h3 {
  font-weight: 200;
}

h4 {
  font-weight: 200;
  font-size: 20px;
  margin-top: 30px;
}

.form-group {
  margin-bottom: 0px;
  position: relative;
  max-width: 400px;
  margin: 10px auto;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  padding: 0;
  background: none;
  border-radius: 0;
  pointer-events: none;
  outline: none;
}

input {
  width: 100%;
  padding-top: 20px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 8px;
}

.underline {
  text-decoration: underline;
}

button {
  min-width: 10%;
  padding: 20px;
  color: white;
  background-color: #0b2fc2;
  margin-top: 10px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #a9f6fb;
}
