DATABASE_URI="mysql+pymysql://root:[password]@localhost/[db_name]"
SECRET_KEY="sec key"
JWT_SECRET_KEY="key jwt" #Must be same as Node js config
FRONTEND_URL=http://localhost:3000
CLOUDMERSIVE_API_KEY='315b3dea-a405-4760-a91e-41619029afc8' 